<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.audioburst.player"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.audioburst.player.core.media.MediaService"
            android:exported="true"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>